# IDE Projectfiles
.idea/
.vscode/

# Dynamic
.var/
temp/
tmp/
dist/
build/
.cache/
**.cache

# Library
vendor/
node_modules/
tools/

# Env
tests/.env
.env
auth.json
.pm.toml

# Other
*.DS_Store
.DS_Store
*.sql
TODO.md

