<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor-bin/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResult="false"
    colors="true"
    verbose="true"
    testdox="true"
    cacheResultFile=".var/cache/phpunit/phpunit.result.cache"
>
    <coverage processUncoveredFiles="true" cacheDirectory=".var/cache/phpunit">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile=".var/cache/phpunit/cov.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuite name="main">
        <directory>tests</directory>
    </testsuite>
    <logging/>
</phpunit>
